<!doctype html>
<title>PhishGPT</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<section class="content">

    <nav>
        <a href="https://www.zuehlke.com/en/expertise/cybersecurity-consulting">
            <img class="nav-logo" alt="ZühlkeLogo" src="https://www.zuehlke.com/sites/default/files/images/zuehlke_logo_rgb_highres_1.jpeg" />
        </a>
    </nav>

    <div class="main-container">
    {% block content %}{% endblock %}
    </div>
</section>