{% extends 'base.html' %}

{% block content %}

<header>Select Target</header>
<p>Enter the LinkedIn username or profile url of the person you want to target. PhishGPT will load the publicly available information to generate a targeted phishing email.</p>


<form class="form__group field" id="form">
    <input type="input" class="form__field" placeholder="https://www.linkedin.com/in/victim" name="input-text" id='input-text' required />
    <label for="input-text" class="form__label">LinkedIn Url</label>
</form>

<div class="mainBtnContainer">
    <button type="submit" id="submit-button" class="mainBtn">Phish!</button>
</div>

<div id="result-container" class="results">
</div>


<script>
    const form = document.querySelector('#form');
    const submitButton = document.querySelector('#submit-button');
    const resultContainer = document.querySelector("#result-container");
    
   submitButton.addEventListener('click', function(event) {
        console.log("Let's start");
        
  
        const data = new FormData(form);

        fetch('/send', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(Object.fromEntries(data))
            })
            .then(response => response.json())
            .then(data => {
                console.log('Form submitted successfully!');
                console.log(data); // This will log the response data as a JavaScript object
                // You can do something with the data object here
                const newElement = document.createElement("div");
                newElement.innerText = data['mail_text'];
                resultContainer.appendChild(newElement);
            })
            .catch(error => {
            // handle any network errors
            alert('Error: ' + error);
        });


    });
  </script>

{% endblock %}