{% extends 'base.html' %}

{% block content %}

<header>Select Target</header>
<p class="light">Enter the LinkedIn username or profile url of the person you want to target. PhishGPT will load the publicly available information to generate a targeted phishing email.</p>


<form class="form__group field" id="form">
    <input type="text" class="form__field" placeholder="https://www.linkedin.com/in/victim" name="input-text" id='input-text'/>
    <label for="input-text" class="form__label">LinkedIn Url or username</label>
    <div class="mainBtnContainer">
        <button type="submit" id="submit-button" class="mainBtn" disabled>
            Phish!
        </button>
    </div>
</form>

<div id="result-container">
    {% if data.phishing_emails_list %}
        {% for email in data.phishing_emails_list %}
            {% set mail = email[0]|safe %}
            {% set profile_image = email[1] %}
            {% set subject = email[2] %}
            <img src="{{ profile_image }}">
            <div>
                {% if subject %}
                    Subject: {{ subject }}
                {% endif %}
                {{ mail }}
            </div>
            {% if data.phishing_emails_list|length > 1 %}
                <hr>
            {% endif %}
        {% endfor %}
    {% endif %}
</div>


<script>
    const form = document.querySelector('#form');
    const submitButton = document.querySelector('#submit-button');
    const resultContainer = document.querySelector("#result-container");
    const formField = document.querySelector('#input-text');

    function displayLoading() {
        submitButton.disabled=true;
        submitButton.innerHTML="<i class='fa fa-spinner fa-spin'></i> This can take up to 30 seconds";
    }

    function hideLoading() {
        submitButton.disabled=false;
        document.getElementById("submit-button").innerHTML="Phish!";
    }

    formField.addEventListener('input', function() {
        submitButton.disabled = formField.value.trim() === ""
    });

    submitButton.addEventListener('click', function(event) {
        console.log("Let's start");
        displayLoading();
        event.preventDefault();

        const data = new FormData(form);

        fetch('/send', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(Object.fromEntries(data))
            })
            .then(response => response.json())
            .then(data => {
                hideLoading();
                const firstElement = resultContainer.innerHTML.trim() === ""

                if (!firstElement) {
                    const hr = document.createElement("hr")
                    resultContainer.insertBefore(hr, resultContainer.children[0]);
                }

                const div = document.createElement("div");
                div.innerHTML = data['user_response'];
                if (data['success'] === false) {
                  div.classList.add("error")
                }
                resultContainer.insertBefore(div, resultContainer.children[0]);

                const profileImage = data['profile_image']
                if (profileImage) {
                    const img = document.createElement("img")
                    img.setAttribute("src", profileImage)
                    resultContainer.insertBefore(img, resultContainer.children[0]);
                }
            })
            .catch(error => {
                hideLoading();
                alert('Error: ' + error);
            });
        return false;
    });
  </script>

{% endblock %}