{% extends 'base.html' %}

{% block content %}

    <header><span class="highlight">PhishGPT:</span> Surprise yourself with AI-Generated Phishing Emails</header>
    <p class="light">This tool uses networks like ChatGPT to generate highly customized targeted phishing emails with natural language models based on LinkedIn description about victims. Just enter a LinkedIn url and generate genuine looking phishing emails.</p>

    <div class="loginBtnContainer">
        <a href="/login">
            <button class="image-button"></button>
        </a>
    </div>




{% endblock %}