{% extends 'base.html' %}

{% block content %}

    <header class="landing-page-header"><span class="highlight">PhishGPT:</span> Surprise yourself with AI-Generated Phishing Emails</header>
    <p class="light">This tool uses state-of-the-art natural language models like ChatGPT to generate highly customized targeted phishing emails based on public LinkedIn profiles. Just enter a LinkedIn URL and generate convincing-looking phishing emails to make yourself and your peer aware of the cyber threats that AI technology poses already today.</p>

    <div class="loginBtnContainer">
        <a href="/login">
            <button class="image-button"></button>
        </a>
    </div>

{% endblock %}